@media screen and (max-width: 1400px) {
    .details-container {
        flex-wrap: wrap;
    }
    body, html {
        width: 100vw;
        justify-content: center;
        overflow-x: hidden;
    }
    
}

@media screen and (max-width: 1200px) {

    body, html {
        width: 100vw;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .about-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
    }

    .details-container {
        height: fit-content;
    }

    .contact-inputs {
        width: 80vw;
    }

    .project-details-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .project-container {
        max-width: 40vw;
    }

    .arrow {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    html, body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100vw;
    }

    #profile {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 20vh;
        height: fit-content;
    }

    .arrow {
        display: none;
    }

    #desktop-nav {
        display: none;
    }

    #menu-nav {
        display: flex;
        gap: 30px;
    }
    
    .section_pic-container {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section_pic-container img {
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }

    .section_text {
        text-align: center;
        width: 100%;
    }

    .about-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    
    .details-container {
        height: 70vh;
        max-height: 100vh;
    }

    .column{
        width: 50%;
        float: center;
        text-align: center;
        gap: 0;
        margin: 0;
    }

    .details-container {
        width: 90%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .text-container {
        width: 90%;
        max-width: 100%;
    }

    .text {
        text-align: justify;
    }

    .project-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
    }

    .project-container {
        width: 90%;
        max-width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .project-container img {
        width: 95%;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-inputs {
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        max-width: 100%;
    }
}