@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;

    }

    .details-container {
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 1200px) {
    html, body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100vw;
    }
    #profile, .details-container {
        display: block;
    }

    .section-container {
        display: block;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
    }

    .about-details-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .details-container {
        height: 100%;
        max-height: 70vh;
    }

    .contact-inputs {
        width: 80vw;
    }

    .project-details-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .project-container {
        max-width: 40vw;
    }

    .arrow {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    html, body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100vw;
    }

    .arrow {
        display: none;
    }

    #desktop-nav {
        display: none;
    }

    #menu-nav {
        display: flex;
        gap: 30px;
    }

    #profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .section_pic-container {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section_pic-container img {
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }

    .section_text {
        text-align: center;
        width: 100%;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
    }

    .about-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .column{
        width: 50%;
        float: center;
        text-align: center;
        gap: 0;
        margin: 0;
    }

    .details-container {
        width: 90%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .text-container {
        width: 90%;
        max-width: 100%;
    }

    .text {
        text-align: justify;
    }
    
    #projects {
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    .project-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .project-container {
        width: 90%;
        max-width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .project-container img {
        width: 95%;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-inputs {
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        max-width: 100%;
    }
}